
h1, h2, h3, h4, h5, h6 {
    font-family:'Times New Roman', sans-serif;
}
body {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Libre Baskerville', sans-serif;
}


#topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
  }
  #topnav a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

  #topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  

body {
    background-color: 
rgba(223, 238, 229,0)}

header {
    size: 1000px;
    margin-top: 0px;
    padding: 0;
    
    
}

header img{
background-size: cover;
}
body img {
    border-radius: 50%;
  }
          footer img {
              width: 15px;
          }

.portfolio-item:nth-child(even) {

        background-color: 
        rgba(102, 122, 110,1);
    
}

#header-item {

    background-color: 
    rgba(228, 225, 209,0);
}

footer {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 600px;
    margin-bottom: 600px;
    background-color: 
    rgba(102, 122, 110,1);

}

#E-mail, #Message, #Name, #Surname {

    border-radius: 10px;
}

#socialmedia {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
  }
  #facebook {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    background-image: url("https://www.bing.com/th/id/OIP.AYeGP35Ke8UxL7_KvIIxxgHaHt?w=177&h=182&c=7&o=5&dpr=1.25&pid=1.7");
    
    text-decoration: none;
    font-size: 12px;
    background-size: cover;
    
  }

  #instagram {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    background-image: url("https://www.bing.com/th/id/OIP.9Lf9gOHRuG-KKjymzElawQHaHa?w=184&h=176&c=7&o=5&dpr=1.25&pid=1.7");
    text-decoration: none;
    font-size: 12px;
    background-size: cover;
    
    
    
  }

  #twitter {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    background-image: url("https://www.bing.com/th/id/OIP.fanx2j1a50WBOTKLuHuaJwHaHf?w=149&h=150&c=7&o=5&dpr=1.25&pid=1.7");
    text-decoration: none;
    font-size: 12px;
    background-size: cover;
    
  }

  #socialmedia a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #socialmedia a.active {
    background-color: #4CAF50;
    color: white;
  }
  